/* Embedded style from MDBootstrap example */

html, body {
    height: 100%;
    overflow: hidden;
}

.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

@media (min-width: 1025px) {
    .h-custom-2 {
        height: 100%;
    }
}

.login-title-container {
    text-align: center;
    margin-bottom: 2rem;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem 0;
}
